<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>

<div th:fragment="index" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="/js/testalert.js"></script> -->
<link rel="stylesheet" type="text/css" href="/css/Index.css">
</div>

<div th:fragment="main">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="/js/ajaxapikeytest.js"></script>
</div>

<div th:fragment="simmain">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/simmain.js"></script>
</div>
<div>

</div>
</body>

</html>