<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Includes :: main">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Main Page - This is where interface will be displayed
<div id="counter">
0
</div>
<div id="tickerData">
_
</div>
<div id="currentPrice">
_
</div>
<div id="priceDataList">
_
</div>
<div id="algStatus">
_
</div>
<div>
 <!-- th:object = modelattribute -->
<button id="startAlgorithm">Start Algorithm</button>
</div>
</body>
</html>